<%= render 'shared/cover', user: @user %>
<br>
<div class="col-md-8">
  <div id="user-<%= @user.id %>" class="row">
    <%= render 'shared/user_info' %>
  </div>
  <div id="activities">
    <% if @activities.empty? %>
      <div class="well">
        <%= render('shared/no_resource', resources: 'Activities') %>
      </div>
    <% else %>
      <%= render_activities(@activities, layout: '/shared/activity') %>
    <% end %>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
</div>
<div class="col-md-4">
  <% if is_current_user?(@user) %>
    <div class="well">
      <ul class=nav nav-pills nav-stacked">
        <li><%= link_to 'Graph your .gro file!', "/graph" %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
        <li><%= link_to 'Change Password', edit_user_registration_path %></li>
        <li><%= link_to 'Friends', friends_user_path(@user) %></li>
        <li><%= link_to 'Followers', followers_user_path(@user) %></li>
        <li><%= link_to 'Deactivate', deactivate_user_path(@user) %></li>
        
     </ul>
    </div>
  <% end %>
</div>
