<!--ERB FILE
Josh Farquhar && Steven Murphy
Open Agriculture Database Project
UMUC 495
This file is the paser to generate .gro files used to
control a food computer, and output them as a google chart
-->

<%############################RUBY CODE SECTION################################%>
<%require 'csv'%>
<%require 'treetop'%>
<%require 'stringio'%>
<%#gro = "#{Rails.root}/public/uploads/post/attachment/1/SG_hum50_LODG.gro"%>


 <h3 class="text-center">Grow File Graph</h3>


<select>
  <option  @gro = <%@gro = "#{Rails.root}/app/views/home/SG_hum50_LODG.gro"%>>Simple Green</option> 
<option  @gro = <%@gro = "#{Rails.root}/app/views/home/PA_hum50_LODG.gro"%>>Pineapple Post</option>

</select>
<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("mySelect");
    document.getElementById("demo").innerHTML = x;
}

</script> 


<div id="dashboard_div">
            <div id="categoryPicker_div"></div>
            <div id="chart_div"></div>
    </div>


<div class="well">
  <%= form_for(Post.new) do |f| %>
    <div class="form-group">
      <h4>Graph a Gro File(**Still under construction**)</h4>

    </div>
    <div id="img-preview" class="form-group hidden">
      <img src="" alt="Preview">
    </div>
    <div class="form-group hidden">
      <%= f.file_field :attachment %>
    </div>
    <div class="form-group">
      <a id="post-attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
        <%= fa_icon 'upload' %>
      </a>
      <%= f.submit 'Graph It!', class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>


<div align="middle">

      <%= render 'shared/links' %>
    </div>

    <%

    twodarray = [['Sensor', 'Timestamp', 'Sensor Value'],]
    File.open(@gro , "r") do |f|
      f.each_line do |line|
        textarray = line.split()
        textarray[0], textarray[1], textarray[2] =textarray[1], textarray[0].gsub!(/:/, '').to_i, textarray[2].to_i
        twodarray << textarray
      end
    end

    %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'table', 'gauge', 'controls']});
      google.charts.setOnLoadCallback(drawMainDashboard);

      function drawMainDashboard() {
        var dashboard = new google.visualization.Dashboard(
            document.getElementById('dashboard_div'));

        var categoryPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'categoryPicker_div',
          'options': {
            'filterColumnIndex': 0,
            'ui': {
              'labelStacking': 'horizontal',
              'label': 'Sensor Selection:',
              'allowTyping': false,
              'allowMultiple': false
            }
          }
        });

        var line = new google.visualization.ChartWrapper({
          'chartType': 'LineChart',
          'containerId': 'chart_div',
          'options': {
            'width': 800,
            'height': 500,
            'legend': 'right',
          },
          'view': {'columns': [0, 2]}
        });

        var data = google.visualization.arrayToDataTable(<%= raw twodarray %>);
        dashboard.bind([categoryPicker], [line]);
        dashboard.draw(data);
      }
    </script>
