<!--ERB FILE
Josh Farquhar && Steven Murphy
Open Agriculture Database Project
UMUC 495
This file is the paser to generate .gro files used to
control a food computer, and output them as a google chart
-->

<%############################RUBY CODE SECTION################################%>
<%#require 'csv'%>
<%#require 'treetop'%>
<%#require 'stringio'%>
<%#@gro = "#{Rails.root}/public/uploads/post/attachment/5/recipe3.gro"%>



<h3 class="text-center">Grow File Graph</h3>

<p>
  <label>Select Recipe To Graph:</label>
  <%# recipes = Dir.glob("#{Rails.root}/public/uploads/post/attachment/*/*.gro") %>
  <%= form_tag(url: get_graph_path,:html => { :method => 'GET' }) do |f| %>
    <%= select_tag 'choose_file' , options_for_select(@recipes.collect{ |u| [u.split('/')[-1].capitalize, u] }), {:prompt => "--Select a Recipe--"} %>
  <% end %>
</p>


<div id="dashboard_div">
  <div id="categoryPicker_div"></div>
  <div id="chart_div"></div>
</div>

<div class="well">
  <%= form_for Post.new do |f| %>
    <div class="form-group">
      <h4>Graph a Gro File(**Still under construction**)</h4>

    </div>
    <div id="img-preview" class="form-group hidden">
      <img src="" alt="Preview">
    </div>
    <div class="form-group hidden">
      <%= f.file_field :attachment %>
    </div>
    <div class="form-group">
      <a id="post-attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
        <%= fa_icon 'upload' %>
      </a>
      <%= f.submit 'Graph It!', class: 'btn btn-primary'%>
    </div>

  <% end %>

</div>
<div align="middle">
  <%= render 'shared/links' %>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart', 'table', 'gauge', 'controls']});
</script>
