<div class="row">
  <div class="col-md-8">
    <div>
      <%= render 'shared/user_info' %>
    </div>
    <div id="newsfeed">
      <%= render 'posts/form' %>
      <br>
      <div id="activities">
        <% if @activities.empty? %>
          <div class="well">
            <%= render('shared/no_resource', resources: 'Activities') %>
          </div>
        <% else %>
          <%= render_activities(@activities, layout: '/shared/activity') %>
        <% end %>
      </div>
      <%= render 'shared/paginate', resources: @activities %>
    </div> 
  </div>
  <div class="col-md-4">
    <div>
      <%= render 'shared/links' %>
    </div>
  </div>
</div>
