<div class="well">
  <div id="mentionable-data" data-content="<%= mentionable_user_path(current_user) %>"></div>
  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <h4>Submit Gro File</h4>
      <%= f.text_area :content, class: 'form-control input-mentionable', autofocus: true, placeholder: 'Tell us about your Recipe' %>
    </div>
    <div id="img-preview" class="form-group hidden">
      <img src="" alt="Preview">
    </div>
    <div class="form-group hidden">
      <%= f.file_field :attachment %>
    </div>
    <div class="form-group">
      <a id="post-attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
        <%= fa_icon 'upload' %>
      </a>
      <%= f.submit 'Post Gro File', class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
